



@model Karkas.OnaylamaOrnek.TypeLibrary.Musteri


@{
    ViewBag.Title = "Ekle";

}

<h2>Ekle</h2>




@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Musteri</legend>


        <div class="control-group">

			@Html.LabelFor(model => model.Adi)

        
			<div class="controls">

				@Html.EditorFor(model => model.Adi)

				@Html.ValidationMessageFor(model => model.Adi, string.Empty, new { @class="help-inline" })
			</div>
		</div>


        <div class="control-group">

			@Html.LabelFor(model => model.Soyadi)

        
			<div class="controls">

				@Html.EditorFor(model => model.Soyadi)

				@Html.ValidationMessageFor(model => model.Soyadi, string.Empty, new { @class="help-inline" })
			</div>
		</div>


        <div class="control-group">

			@Html.LabelFor(model => model.Eposta)

        
			<div class="controls">

				@Html.EditorFor(model => model.Eposta)

				@Html.ValidationMessageFor(model => model.Eposta, string.Empty, new { @class="help-inline" })
			</div>
		</div>


        <div class="control-group">

			@Html.LabelFor(model => model.Yasi)

        
			<div class="controls">

				@Html.EditorFor(model => model.Yasi)

				@Html.ValidationMessageFor(model => model.Yasi, string.Empty, new { @class="help-inline" })
			</div>
		</div>


        <div class="control-group">

			@Html.LabelFor(model => model.ProfilePicture)

        
			<div class="controls">

				@Html.EditorFor(model => model.ProfilePicture)

				@Html.ValidationMessageFor(model => model.ProfilePicture, string.Empty, new { @class="help-inline" })
			</div>
		</div>


        <div class="control-group">
			<div class="controls">
				<input type="submit" value="Ekle" class="btn" /> &nbsp; @Html.ActionLink("Vazgeç", "Index")
			</div>
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script>

	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });
	</script>
}



